* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #252525;
    color: #fff;
}

.primary-bg-color {
    background-color: #252525;
}

.secondary-bg-color {
    background-color: #c09578;
}

.primary-color {
    color: #c09578;
}

.secondary-color {
    color: #c09578;
}

/* NAVBAR */
#navbar .navbar-nav {
    flex-direction: row;
    justify-content: 1em;
}

#navbar .navbar-nav li {
    margin-left: 1em;
}

#navbar a,
#navbar button {
    color: #fff;
}

#navbar li {
    position: relative;
}

#navbar i {
    font-size: 20px;
}

#navbar span {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ef3636;
    text-align: center;
}

#bag-item span {
    left: 20px;
}

.navbar-brand {
    font-weight: 700;
    width: 100%;
    text-align: center;
}

@media(min-width: 768px) {
    .navbar-brand {
        text-align: left;
    }
}

#navbar-items {
    justify-content: space-between;
}

@media(min-width: 768px) {
    #navbar-items {
        display: flex;
        min-width: 80%;
    }
}

#search-form,
#news-form {
    width: 100%;
    margin: 2em 0;
}

@media(min-width: 768px) {

    #search-form,
    #news-form {
        width: 50%;
        margin: 0;
    }
}

#search-form,
#news-form {
    border: 2px solid #626262;
    border-radius: 3px;
    padding: 5px 15px;
}

#search-form input,
#news-form input {
    background-color: transparent;
    border: none;
    color: #FFF;
}

#search-form input:focus,
#news-form input:focus {
    box-shadow: none;
}

#search-form input::placeholder,
#news-form input::placeholder {
    color: #FFF;
}

/* BOTTOM NAVBAR */
#bottom-navbar-container .container {
    justify-content: flex-end;
}

#bottom-navbar-container a {
    color: #FFF;
    font-weight: 600;
}

.navbar-toggler {
    font-size: 1.5em;
}

